@import url(https://fonts.bunny.net/css?family=inter:100,300,400,600,700,900);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
    --background-primary: #eeedec;
    --background-secondary: #bebcbc;
    --shadow-opaque: rgba(17, 16, 15, 0.3);
    --background-opaque: rgba(190, 188, 188, 0.97);
    --text: #1b1919;
    --accent-strong: #6841c3;
    --accent-subtle: #c3b3e7;

    --transition-preset: all 200ms ease-in-out;
}

.dark {
    --background-primary: #080c1f;
    --background-secondary: #252423;
    --shadow-opaque: rgba(190, 188, 188, 0.15);
    --background-opaque: rgba(17, 16, 15, 0.95);
    --text: #eeedec;
}

body,
#root {
    max-width: 100dvw;
    overflow-x: hidden;
}
