.footer {
  background: var(--background-secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}

.footer p:first-of-type {
  font-weight: bold;
  margin-inline: 1rem;
}

.footer__links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer__links a {
  color: var(--text);
  transition: var(--transition-preset);
}

.footer__links a:hover {
    color: var(--accent-strong);
}
