.header__title-wrapper {
    display: flex;
    margin-inline: auto;
    width: 80dvw;
    margin-top: 92px;
    border-block: 1px var(--text) solid;
    padding-inline: 5rem;
}

.header__svg-wrapper {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.header__svg-wrapper img {
    width: clamp(320px, 45vw, 500px);
    margin-left: 3rem;
}

.header__blog-name,
.header__svg-wrapper {
    width: min-content;
}

.header__blog-name {
    font-size: 8rem;
    font-weight: 700;
}

.header__title-wrapper p {
    font-weight: 600;
    font-size: 1.7rem;
    text-wrap: nowrap;
}

@media (width<=900px) {
    .header__title-wrapper,
    .header__blog-name {
        margin-left: unset;
        margin-inline: auto;
        flex-direction: column;
        white-space: pre-line;
        text-align: center;
    }

    .header__title-wrapper {
        margin-top: 2rem;
        padding-inline: 0;
    }

    .header__svg-wrapper {
        margin-right: unset;
        margin-left: unset;
        margin-inline: auto;
        margin-bottom: 1rem;
    }

    .header__svg-wrapper img {
        margin-left: -2rem;
    }
}
