.navbar,
.navbar__links {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--background-primary);
    z-index: 200;
}

.navbar .navbar__name {
    background: var(--text);
    color: var(--background-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.navbar_right-segment {
    display: flex;
}

.navbar__links {
    gap: 1rem;
}

.navbar__links a {
    color: var(--text);
}

.navbar__links a {
    position: relative;
    color: var(--text);
    transition: var(--transition-preset);
}
.navbar__links a:hover {
    color: var(--accent-strong);
}

.navbar__links a::after {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    width: 0;
    border-bottom: 1px solid var(--accent-strong);
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition-preset);
    transform-origin: center;
}

.navbar__links a:hover::after {
    width: 90%;
}
@media (width > 600px) {
    .navbar {
        right: 0 !important;
    }
}

@media (width<=600px) {
    .navbar {
        background: var(--background-opaque);
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: 0;
        right: -120%;
        width: 100dvw;
        min-height: 100dvh;
        transition: var(--transition-preset);
    }

    .navbar__links {
        font-size: 2rem;
        margin-bottom: 10rem;
    }

    label[for="theme-toggle__theme-input"],
    .navbar__name {
        scale: 1.5;
        background: var(--background-opaque);
        margin-right: 1rem;
    }

    .navbar__name {
        margin-top: 2rem;
    }

    .navbar_right-segment,
    .navbar__links {
        flex-direction: column-reverse;
        gap: 3rem;
        align-items: end;
    }

    .navbar__links a::after {
        display: none;
    }

}
