.post__post-wrapper {
    margin: 1rem;
}

.post__post-title {
    padding-inline: 10vw;
    font-size: 2rem;
}

.post__post-date {
    margin-block: 1rem;
    display: grid;
    justify-self: center;
    padding-left: 10vw;

}

.post__post-image-wrapper {
    width: 80%;
    aspect-ratio: 2/1.5;
    margin-inline: auto;
    margin-block: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.post__post-image {
    max-height: 100%;
    object-fit: cover;
}

.post__post-content {
    padding-block: 2rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.post__post-content li,
.post__post-content h3,
.post__post-content img {
    max-width: 100%;
    padding-block: 1rem;
}

.post__post-content li {
    margin-left: 2rem;
}

.post__post-author {
    display: grid;
    justify-self: center;
    width: 100%;
    color: var(--accent-strong);
    margin-block: 1rem;
    font-weight: 700;
    text-align: right;
    padding-right: 10vw;
}

.post__back-wrapper {
    display: grid;
    width: 100%;
    height: 4rem;
    display: grid;
    justify-content: end;
    padding-right: 10vw;
}

.post__post-back {
    text-align: right;
    width: 6.5rem;
    white-space: nowrap;
    color: var(--accent-strong);
    margin-inline: auto;
    margin-block: 2rem;
    max-width: 80%;
    transition: var(--transition-preset);
}

.post__post-back:hover,
.post__post-back:focus {
    color: var(--accent-strong);
    font-weight: 700;
}

@media (width>600px) {
    .post__post-wrapper {
        margin-top: 92px;
    }
    .post__post-image {
        max-width: 100%;
    }

    .post__post-image-wrapper {
        width: 80%;
        aspect-ratio: unset;
        max-height: 40rem;
    }
}

/* .post__post-author, */
/* .post__post-title, */
/* .post__post-date { */
/*     max-width: 80%; */
/*     margin-inline: 3rem; */
/* } */

@media (width>900px) {
    .post__post-content {
        max-width: 70%;
        margin-inline: auto;
    }
}
