.recent-posts__slider-wrapper {
    width: 100dvw;
    height: fit-content;
    margin-top: 2rem;
    background: var(--background-secondary);
    padding-bottom: 2rem;
}

.recent-posts__section_header {
    text-transform: uppercase;
    margin-left: 3rem;
    padding-block: 1rem;
}

.recent-posts__post {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.recent-posts__post a {
    display: grid;
    place-items: center;
    color: var(--text);
    transition: var(--transition-preset);
}

.recent-posts__post a:hover,
.recent-posts__post a:focus{
    cursor: pointer;
    color: var(--accent-strong);
}


.recent-posts__post-image-wrapper {
    width: 90%;
    max-height: 100%;
    border-radius: 0.5rem;
    max-height: 30rem;
    overflow: hidden;
}

.recent-posts__post-image-wrapper img {
    object-fit: cover;
    width: 100%;
}

.recent-posts__post-date {
    position: absolute;
    width: min-content;
    aspect-ratio: 2/2;
    bottom: 2rem;
    left: 6rem;
    padding: 0.25rem 0.5rem;
    background: var(--background-secondary);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.recent-posts__post-title {
    position: absolute;
    max-width: 60%;
    top: 2rem;
    left: 6rem;
    padding: 0.25rem 0.5rem;
    background: var(--background-secondary);
    border-radius: 0.25rem;
    font-size: 1.25rem;
}

.recent-postst__slider {
    position: relative;
}

.flickity-prev-next-button {
    all: unset;
    appearance: none !important;
    position: absolute;
    background: transparent;
    top: 50%;
    padding: 0.5rem 0.25rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.flickity-button-icon {
    fill: var(--text);
    z-index: 1000;
    width: 2rem;
    transition: var(--transition-preset);
}

.flickity-prev-next-button:hover .flickity-button-icon,
.flickity-prev-next-button:focus-within .flickity-button-icon,
.flickity-prev-next-button:focus .flickity-button-icon {
    outline: none;
    border: 0 none;
    box-shadow: none;
    fill: var(--accent-strong);
    scale: 1.2;
}

.flickity-prev-next-button.previous {
    left: 1rem;
}

.flickity-prev-next-button.next {
    right: 1.5rem;
}
.recent-postst__slider:focus-within,
.recent-postst__slider:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.recent-postst__slider:focus-within img,
.recent-postst__slider:focus img {
    border: 1px solid var(--background-primary);
}

@media (width <= 600px) {
    .recent-posts__section_header {
        margin-bottom: 2.5rem;
    }
    .recent-posts__post {
    overflow: visible;
}


    .recent-posts__post-title,
    .recent-posts__post-date {
 max-width: 600px !important;
        border-radius: 0;
        left: 0 !important;
        padding-left: 3rem;

    }
    .recent-posts__post-title {
               top: -2rem !important;
        width: 100% !important;
    }

    .recent-posts__post-date {
                bottom: -1rem !important;
        height: 2rem !important;
        width: 100% !important;
    }

}
@media (width <= 780px) {
    .recent-posts__post-title {
        max-width: 80%;
        top: 1rem;
        left: 2.25rem;
    }
    .recent-posts__post-date {
        width: min-content;
        bottom: 1rem;
        left: 2.25rem;
    }

    .flickity-prev-next-button {
        display: none;
    }

    .recent-posts__post-image-wrapper,
    .recent-posts__post-image-wrapper img {
        width: 100dvw !important;
        border-radius: 0;
    }
}

@media (width <=1200px) {
    .recent-posts__post-image-wrapper {
        width: 86%;
    }
}

@media (width >= 1600px) {
    .recent-posts__post-date {
        left: 8rem;
    }

    .recent-posts__post-title {
        left: 8rem;
    }
}
